#!/usr/bin/env sh

set -e

base_dir="$(dirname "$0")"

find "$base_dir" -type f \( -name '.gitkeep' -o -name '.git' \) -print -delete

git -C "$base_dir" init
git -C "$base_dir" remote add origin git@github.com:cosandr/{{ role_name | basename }}.git

rm -fv "$0"

git -C "$base_dir" add .
