# {{ role_name }}

![GitHub](https://img.shields.io/github/license/cosandr/{{ role_name }}) ![GitHub last commit](https://img.shields.io/github/last-commit/cosandr/{{ role_name }}) ![GitHub issues](https://img.shields.io/github/issues-raw/cosandr/{{ role_name }})

**Ansible role for setting up {{ role_name|replace('ansible-role-', '') }}.**

## Supported Platforms

| OS Family | Distribution  | Latest | Supported Version(s) | Comment |
|-----------|---------------|--------|----------------------|---------|
| RedHat    | RHEL          | :heavy_check_mark: | 9 | |
|           | RockyLinux    | :heavy_check_mark: | 8, 9 | |
|           | AlmaLinux     | :heavy_check_mark: | 8, 9 | |
|           | Fedora        | :heavy_check_mark: | 35, 36, 37 | |

## Requirements

Ansible 2.12 or higher.

## Variables

| Name           | Default Value | Description                        |
| -------------- | ------------- | -----------------------------------|
| `example` | true | Can be set to false |


## Dependencies

None.

## Example Playbook

```yaml
---

- hosts: all
  become: true
  gather_facts: true
  roles:
    - role: {{ role_name }}
```

## Author

[Andrei Costescu](https://github.com/cosandr/)
