---

galaxy_info:
  role_name: {{ role_name | basename | replace('ansible-role-', '') }}
  author: Andrei Costescu
  namespace: cosandr
  description: Ansible role for setting up {{ role_name | basename | replace('ansible-role-', '') }}.

  issue_tracker_url: https://github.com/cosandr/{{ role_name | basename }}/issues

  license: MIT

  min_ansible_version: "2.16"

  platforms:
    - name: Debian
      versions:
        - "bullseye"
        - "bookworm"
    - name: EL
      versions:
        - "8"
        - "9"
    - name: Fedora
      versions:
        - "all"

  galaxy_tags: []

dependencies: []
